.titleContact {
  text-align: center;
  margin-block: 15px;
  font-size: 30px;
}
.containerContact {
  background: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
